.form-style-4{
	width: 300px;
	font-size: 16px;
	background: transparent;
	padding: 30px 30px 15px 30px;
	margin-left: 450px ;
	margin-top: 100px ;

}
body{
	background:url('uts jpg.jpeg');
}
.form-style-4 input[type=submit],
.form-style-4 input[type=button],
.form-style-4 input[type=text],
.form-style-4 label
{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: white;

}
.form-style-4 label {
	display:block;
	margin-bottom: 10px;
}

.form-style-4 input[type=text],
.form-style-4 input[type=email] 

.form-style-4 , select{
	font-style: italic;
	padding: 0px 0px 0px 0px;
	background: transparent;
	outline: none;
	border: none;
	border-bottom: 1px dashed #83A4C5;
	width: 275px;
	overflow: hidden;
	resize:none;
	height:20px;
		font-size: 16px;
}
select {
	margin-bottom: 10px;
	color: black;
}

.form-style-4 input[type=text]:focus,
{
	border-bottom: 1px dashed #D9FFA9;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button]{
	margin-left: 110px;
	margin-top: 30px;
	background: #576E86;
	border: none;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
	color: #A8BACE;
}
.form-style-4 input[type=submit]:hover,
.form-style-4 input[type=submit]:hover{
background: #394D61;
}
